<!-- FOOTER PRINCIPAL -->
<footer
  class="text-white bg-[#232323] flex flex-wrap mt-8 rounded-3xl pt-10 pb-20 px-6 md:px-10 gap-8"
>
  <!-- Coluna 1: Slogan + Logotipos -->
  <div class="flex flex-col gap-8 md:ps-12 xl:max-w-xs">
    <!-- Slogan -->
    <div>
      <img
        class="w-1/2 mx-auto lg:w-full"
        src="https://saude-kayamind-minio.aqrour.easypanel.host/kayadoc/staticfiles/images/rebranding/kaya%20slogan%20branco.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=tEE1iyojY34tOfrnfIPQ%2F20250320%2Fbrazil%2Fs3%2Faws4_request&X-Amz-Date=20250320T154404Z&X-Amz-Expires=588000&X-Amz-SignedHeaders=host&X-Amz-Signature=9d45c20bbd5c02e5593c14d56225c60d0a0ecaa85ae846a8044da105ce555847"
        alt="Kaya slogan Dados, Conhecimento, Impacto"
      />
    </div>
    <!-- Logos Kaya Doc / Biz / Mind -->
    <div class="grid grid-cols-3 gap-4">
      <div>
        <a href="#">
          <img
            src="https://saude-kayamind-minio.aqrour.easypanel.host/kayadoc/staticfiles/images/rebranding/kaya%20doc%20branco.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=tEE1iyojY34tOfrnfIPQ%2F20250320%2Fbrazil%2Fs3%2Faws4_request&X-Amz-Date=20250320T154404Z&X-Amz-Expires=588000&X-Amz-SignedHeaders=host&X-Amz-Signature=9d40c731b524f0146ac608ff85ab0c60e3d8d9c5324a34e9a19852a519198b53"
            alt="Kaya Doc"
          />
        </a>
      </div>
      <div>
        <a href="#">
          <img
            src="https://saude-kayamind-minio.aqrour.easypanel.host/kayadoc/staticfiles/images/rebranding/kaya%20biz%20branco.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=tEE1iyojY34tOfrnfIPQ%2F20250320%2Fbrazil%2Fs3%2Faws4_request&X-Amz-Date=20250320T154404Z&X-Amz-Expires=588000&X-Amz-SignedHeaders=host&X-Amz-Signature=1a59b7211a528224b9b80125ddc2ce41b12ebead04a13fce5027288aa968bf07"
            alt="Kaya Biz"
          />
        </a>
      </div>
      <div>
        <a href="#">
          <img
            src="https://saude-kayamind-minio.aqrour.easypanel.host/kayadoc/staticfiles/images/rebranding/kaya%20mind%20branco.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=tEE1iyojY34tOfrnfIPQ%2F20250320%2Fbrazil%2Fs3%2Faws4_request&X-Amz-Date=20250320T154404Z&X-Amz-Expires=588000&X-Amz-SignedHeaders=host&X-Amz-Signature=1ce96b7c7433494a59f907fd58e6e36b2c0d442bb2f0d772f25f79084ef5a52b"
            alt="Kaya Mind"
          />
        </a>
      </div>
    </div>
  </div>

  <!-- Coluna 2: Médicos / Pacientes / Marcas -->
  <div class="flex justify-center mt-6 lg:col-span-2">
    <div>
      <div class="gap-8 md:mt-4 md:flex md:flex-wrap">
        <!-- Médicos -->
        <div class="flex flex-col">
          <div
            class="mb-4 text-2xl md:text-3xl font-bold"
            style="font-family: Marvin Visions Variable"
          >
            MÉDICOS
          </div>
          <ul class="font-semibold space-y-1">
            <li class="hover:font-bold hover:cursor-pointer">
              <a href="#">Funcionalidades do Kaya Doc</a>
            </li>
            <li class="hover:font-bold hover:cursor-pointer">
              <a href="#">FAQ</a>
            </li>
          </ul>
        </div>

        <!-- Pacientes -->
        <div class="flex flex-col">
          <div
            class="mb-4 text-2xl md:text-3xl font-bold"
            style="font-family: Marvin Visions Variable"
          >
            PACIENTES
          </div>
          <ul class="font-semibold space-y-1">
            <li class="hover:font-bold hover:cursor-pointer">
              <a href="#">Gostaria de me tornar paciente</a>
            </li>
            <li class="my-3 hover:font-bold hover:cursor-pointer">
              <a
                class="px-8 py-2 text-sm rounded-2xl bg-[#e2f2b2] text-[#252625]"
                href="#"
                >Saiba mais</a
              >
            </li>
            <li class="hover:font-bold hover:cursor-pointer">
              <a href="#">Benefícios da cannabis</a>
            </li>
            <li class="hover:font-bold hover:cursor-pointer">
              <a href="#">Glossário canábico</a>
            </li>
            <li class="hover:font-bold hover:cursor-pointer">
              <a href="#">FAQ</a>
            </li>
          </ul>
        </div>

        <!-- Marcas -->
        <div class="flex flex-col">
          <div
            class="mb-4 text-2xl md:text-3xl font-bold"
            style="font-family: Marvin Visions Variable"
          >
            MARCAS
          </div>
          <ul class="font-semibold space-y-1">
            <li class="hover:font-bold hover:cursor-pointer">
              <a href="#">Sou marca e quero estar no Kaya Doc</a>
            </li>
            <li class="my-4 hover:font-bold hover:cursor-pointer">
              <a
                class="px-8 py-2 text-sm rounded-2xl bg-[#e2f2b2] text-[#252625]"
                href="#"
                >Saiba mais</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Coluna 3: Redes Sociais e Contato -->
  <div class="md:mt-32">
    <div
      class="mb-8 text-2xl font-bold"
      style="font-family: Marvin Visions Variable"
    >
      NOS SIGA NA REDE SOCIAL
    </div>
    <div class="flex gap-4 mb-10">
      <div>
        <a href="#" target="_blank">
          <i
            class="items-center p-3 text-black rounded-full md:text-4xl fab fa-linkedin-in bg-[#e2f2b2]"
          ></i>
        </a>
      </div>
      <div>
        <a href="#" target="_blank">
          <i
            class="items-center p-3 text-black rounded-full md:text-4xl fab fa-instagram bg-[#e2f2b2]"
          ></i>
        </a>
      </div>
      <div>
        <a href="#" target="_blank">
          <i
            class="items-center p-3 text-black rounded-full md:text-4xl fab fa-youtube bg-[#e2f2b2]"
          ></i>
        </a>
      </div>
    </div>
    <div
      class="mb-3 text-2xl font-bold"
      style="font-family: Marvin Visions Variable"
    >
      FALE CONOSCO
    </div>
    <div>
      <ul class="space-y-3">
        <li class="flex items-center gap-4">
          <i class="text-2xl fas fa-phone text-[#e2f2b2]"></i>
          <a href="tel:+55 11 91242-3799" class="hover:underline"
            >+55 11 91242-3799</a
          >
        </li>
        <li class="flex items-center gap-4">
          <i class="text-2xl fas fa-envelope text-[#e2f2b2]"></i>
          <a href="mail:atendimento@kayadoc.com" class="hover:underline"
            >atendimento@kayadoc.com</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>

<!-- RODAPÉ SECUNDÁRIO COM COPYRIGHT -->
<div
  class="flex justify-between px-8 py-5 -mt-10 bg-white md:px-20 rounded-t-2xl col-span-full mx-2.5"
>
  <div>
    <div
      class="text-xs font-thin text-black md:text-base"
      style="font-family: Marvin Visions Variable"
    >
      COPYRIGHT©KAYA <span id="actual_year"></span>. ALL RIGHTS RESERVED
    </div>
  </div>
  <div>
    <img
      class="flex w-5"
      src="https://saude-kayamind-minio.aqrour.easypanel.host/kayadoc/staticfiles/images/rebranding/k.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=tEE1iyojY34tOfrnfIPQ%2F20250320%2Fbrazil%2Fs3%2Faws4_request&X-Amz-Date=20250320T154404Z&X-Amz-Expires=588000&X-Amz-SignedHeaders=host&X-Amz-Signature=92f41297b5ded5464b917884eb70c01467e671abec4928c328a42564a43f6440"
      alt="Logo K"
    />
  </div>
</div>
<script>
  document.getElementById('actual_year').innerText = new Date().getFullYear();
</script>
