<nav
  class="hidden md:flex fixed z-50 flex justify-center w-full top-0 mt-2 pt-6"
>
  <div
    class="flex flex-wrap items-center w-full max-w-screen-xl p-4 bg-[#232323] mx-2.5 rounded-3xl md:mx-8 md:px-8"
  >
    <a class="flex items-center space-x-3 me-20" href="#">
      <img
        src="https://saude-kayamind-minio.aqrour.easypanel.host/kayadoc/staticfiles/images/rebranding/kaya%20doc%20branco.png"
        class="h-12"
        alt="Kaya doc verde"
      />
    </a>

    <button
      data-collapse-toggle="navbar-multi-level"
      type="button"
      class="flex items-center justify-center w-10 h-10 p-2 ms-auto md:hidden text-gray-200 hover:bg-gray-700"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" fill="none" viewBox="0 0 17 14">
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>

    <div class="hidden w-full md:flex md:w-auto" id="navbar-multi-level">
      <ul
        class="flex flex-col p-4 mt-4 font-medium text-white border border-gray-100 rounded-lg md:p-0 md:space-x-8 md:flex-row md:mt-0 md:border-0"
      >
        <li class="relative">
          <button
            id="funcionalidadesButton"
            class="flex items-center px-3 py-2 cursor-pointer hover:text-[#e2f2b2]"
            onclick="toggleDropdown('funcionalidadesDropdown')"
          >
            Funcionalidades
            <i class="fas fa-caret-down ml-2"></i>
          </button>
          <ul
            id="funcionalidadesDropdown"
            class="absolute left-0 hidden w-48 mt-2 bg-[#232323] rounded-lg shadow-sm"
          >
            <li>
              <a href="#" class="block px-4 py-2 hover:text-[#e2f2b2]">
                Descubra Novos Produtos
              </a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:text-[#e2f2b2]">
                Biblioteca de Estudos
              </a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:text-[#e2f2b2]">
                Webinars
              </a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:text-[#e2f2b2]">
                Copiloto
              </a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:text-[#e2f2b2]">
                Benefícios e Parcerias
              </a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:text-[#e2f2b2]">
                Prontuário
              </a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:text-[#e2f2b2]">
                Anamnese
              </a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:text-[#e2f2b2]">
                Agenda
              </a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:text-[#e2f2b2]">
                Perfil Público
              </a>
            </li>
          </ul>
        </li>

        <li class="relative">
          <button
            id="pacienteButton"
            class="flex items-center px-3 py-2 cursor-pointer hover:text-[#e2f2b2]"
            onclick="toggleDropdown('pacienteDropdown')"
          >
            Paciente
            <i class="fas fa-caret-down ml-2"></i>
          </button>
          <ul
            id="pacienteDropdown"
            class="absolute left-0 hidden w-48 mt-2 bg-[#232323] rounded-lg shadow-sm"
          >
            <li>
              <a href="#" class="block px-4 py-2 hover:text-[#e2f2b2]">
                Médicos Prescritores
              </a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:text-[#e2f2b2]">
                Benefícios da Cannabis
              </a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:text-[#e2f2b2]">
                Glossário Canábico
              </a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:text-[#e2f2b2]">
                Blog da Saúde
              </a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:text-[#e2f2b2]">
                Condições Médicas
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="hidden space-x-4 ms-auto md:flex">
      <a
        href="#"
        class="px-12 py-1 text-lg border bg-[#e2f2b2] rounded-3xl border-border-[#e2f2b2] hover:bg-[#252625] hover:text-[#e2f2b2]"
      >
        Teste grátis
      </a>
      <a
        href="#"
        class="px-10 py-1 text-lg text-white border rounded-3xl border-[#e2f2b2] hover:bg-[#e2f2b2] hover:text-[#252625]"
      >
        Login
      </a>
    </div>
  </div>
</nav>

<script>
  function toggleDropdown(dropdownId) {
    const dropdown = document.getElementById(dropdownId);
    dropdown.classList.toggle('hidden');
  }

  window.addEventListener('click', function (event) {
    const funcionalidadesButton = document.getElementById(
      'funcionalidadesButton'
    );
    const funcionalidadesDropdown = document.getElementById(
      'funcionalidadesDropdown'
    );

    const pacienteButton = document.getElementById('pacienteButton');
    const pacienteDropdown = document.getElementById('pacienteDropdown');

    if (
      !funcionalidadesButton.contains(event.target) &&
      !funcionalidadesDropdown.contains(event.target)
    ) {
      funcionalidadesDropdown.classList.add('hidden');
    }

    if (
      !pacienteButton.contains(event.target) &&
      !pacienteDropdown.contains(event.target)
    ) {
      pacienteDropdown.classList.add('hidden');
    }
  });
</script>
