<div class="flex flex-wrap justify-center gap-4 mb-6">
  <div>
    <input
      type="radio"
      name="specialty"
      id="specialty-all"
      value="all"
      class="hidden peer"
    />
    <label
      for="specialty-all"
      class="px-6 py-1 text-xs font-bold uppercase bg-[#e2f2b2] rounded-lg cursor-pointer peer-checked:bg-[#c6e085] hover:bg-[#c6e085]"
    >
      TODAS
    </label>
  </div>

  <div>
    <input
      type="radio"
      name="specialty"
      id="specialty-1"
      value="MEDICINA DE FAMÍLIA E COMUNIDADE - RQE Nº: 6198"
      class="hidden peer"
    />
    <label
      for="specialty-1"
      class="px-6 py-1 text-xs font-bold uppercase bg-[#e2f2b2] rounded-lg cursor-pointer peer-checked:bg-[#c6e085] hover:bg-[#c6e085]"
    >
      MEDICINA DE FAMÍLIA E COMUNIDADE - RQE Nº: 6198
    </label>
  </div>

  <div>
    <input
      type="radio"
      name="specialty"
      id="specialty-2"
      value="MEDICINA DE FAMÍLIA E COMUNIDADE"
      class="hidden peer"
    />
    <label
      for="specialty-2"
      class="px-6 py-1 text-xs font-bold uppercase bg-[#e2f2b2] rounded-lg cursor-pointer peer-checked:bg-[#c6e085] hover:bg-[#c6e085]"
    >
      MEDICINA DE FAMÍLIA E COMUNIDADE
    </label>
  </div>

  <div>
    <input
      type="radio"
      name="specialty"
      id="specialty-3"
      value="MEDICINA FUNCIONAL INTEGRATIVA"
      class="hidden peer"
    />
    <label
      for="specialty-3"
      class="px-6 py-1 text-xs font-bold uppercase bg-[#e2f2b2] rounded-lg cursor-pointer peer-checked:bg-[#c6e085] hover:bg-[#c6e085]"
    >
      MEDICINA FUNCIONAL INTEGRATIVA
    </label>
  </div>

  <div>
    <input
      type="radio"
      name="specialty"
      id="specialty-4"
      value="MEDICINA INTEGRATIVA"
      class="hidden peer"
    />
    <label
      for="specialty-4"
      class="px-6 py-1 text-xs font-bold uppercase bg-[#e2f2b2] rounded-lg cursor-pointer peer-checked:bg-[#c6e085] hover:bg-[#c6e085]"
    >
      MEDICINA INTEGRATIVA
    </label>
  </div>

  <div>
    <input
      type="radio"
      name="specialty"
      id="specialty-5"
      value="PÓS GRADUAÇÃO EM PSIQUIATRIA / MEDICINA CANABINÓIDE."
      class="hidden peer"
    />
    <label
      for="specialty-5"
      class="px-6 py-1 text-xs font-bold uppercase bg-[#e2f2b2] rounded-lg cursor-pointer peer-checked:bg-[#c6e085] hover:bg-[#c6e085]"
    >
      PÓS GRADUAÇÃO EM PSIQUIATRIA / MEDICINA CANABINÓIDE.
    </label>
  </div>

  <div>
    <input
      type="radio"
      name="specialty"
      id="specialty-6"
      value="MEDICINA PREVENTIVA E SOCIAL"
      class="hidden peer"
    />
    <label
      for="specialty-6"
      class="px-6 py-1 text-xs font-bold uppercase bg-[#e2f2b2] rounded-lg cursor-pointer peer-checked:bg-[#c6e085] hover:bg-[#c6e085]"
    >
      MEDICINA PREVENTIVA E SOCIAL
    </label>
  </div>

  <div>
    <input
      type="radio"
      name="specialty"
      id="specialty-7"
      value="GENERALISTA | MEDICINA ENDOCANABINÓIDE"
      class="hidden peer"
    />
    <label
      for="specialty-7"
      class="px-6 py-1 text-xs font-bold uppercase bg-[#e2f2b2] rounded-lg cursor-pointer peer-checked:bg-[#c6e085] hover:bg-[#c6e085]"
    >
      GENERALISTA | MEDICINA ENDOCANABINÓIDE
    </label>
  </div>

  <div>
    <input
      type="radio"
      name="specialty"
      id="specialty-8"
      value="MEDICINA DO TRABALHO"
      class="hidden peer"
    />
    <label
      for="specialty-8"
      class="px-6 py-1 text-xs font-bold uppercase bg-[#e2f2b2] rounded-lg cursor-pointer peer-checked:bg-[#c6e085] hover:bg-[#c6e085]"
    >
      MEDICINA DO TRABALHO
    </label>
  </div>

  <div>
    <input
      type="radio"
      name="specialty"
      id="specialty-9"
      value="MEDICINA DE FAMÍLIA E COMUNIDADE - RQE Nº: 21312"
      class="hidden peer"
    />
    <label
      for="specialty-9"
      class="px-6 py-1 text-xs font-bold uppercase bg-[#e2f2b2] rounded-lg cursor-pointer peer-checked:bg-[#c6e085] hover:bg-[#c6e085]"
    >
      MEDICINA DE FAMÍLIA E COMUNIDADE - RQE Nº: 21312
    </label>
  </div>

  <div>
    <input
      type="radio"
      name="specialty"
      id="specialty-10"
      value="MEDICINA PREVENTIVA E SOCIAL - RQE Nº: 39217"
      class="hidden peer"
    />
    <label
      for="specialty-10"
      class="px-6 py-1 text-xs font-bold uppercase bg-[#e2f2b2] rounded-lg cursor-pointer peer-checked:bg-[#c6e085] hover:bg-[#c6e085]"
    >
      MEDICINA PREVENTIVA E SOCIAL - RQE Nº: 39217
    </label>
  </div>

  <div>
    <input
      type="radio"
      name="specialty"
      id="specialty-11"
      value="DENTISTA"
      class="hidden peer"
    />
    <label
      for="specialty-11"
      class="px-6 py-1 text-xs font-bold uppercase bg-[#e2f2b2] rounded-lg cursor-pointer peer-checked:bg-[#c6e085] hover:bg-[#c6e085]"
    >
      DENTISTA
    </label>
  </div>

  <div>
    <input
      type="radio"
      name="specialty"
      id="specialty-13"
      value="CLÍNICO GERAL"
      class="hidden peer"
    />
    <label
      for="specialty-13"
      class="px-6 py-1 text-xs font-bold uppercase bg-[#e2f2b2] rounded-lg cursor-pointer peer-checked:bg-[#c6e085] hover:bg-[#c6e085]"
    >
      CLÍNICO GERAL
    </label>
  </div>
</div>

<!-- Componente de busca estático seguindo o padrão de cantos arredondados e cor clara -->
<div
  class="relative max-w-6xl mx-auto shadow-md rounded-3xl bg-[#f2f2f2] my-4 py-2"
>
  <!-- Ícone da lupa -->
  <span class="absolute left-4 top-1/2 -translate-y-1/2 text-gray-500">
    <i class="fa fa-search"></i>
  </span>
  <!-- Campo de busca -->
  <input
    type="text"
    placeholder=""
    class="w-full py-3 pl-10 pr-4 rounded-3xl bg-[#f2f2f2] focus:outline-none text-gray-700"
  />
</div>

<div class="mb-2 font-bold text-start ms-4 text-[#a9cc81]">
  {% comment %} Total de {{ total_prescritores }} prescritores {% endcomment %}
  Total de 22 prescritores
</div>
